<!DOCTYPE html>
<html lang="ru" class="_aa4d">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
</head>
<body>
<section class="x78zum5 xg6iff7">
    <main class="xvbhtw8 x78zum5 x1iyjqo2">
        <article class="x78zum5 xl56j7k xh8yej3">
            <div class="_ab1y">
                <div class="_ab21">
                    <div class="xseo6mj xod5an3">
                        <img th:src="@{images/logo.png}"
                             style="width: 175px; height: 51px;"
                             alt="RossGram"/>
                    </div>
                    <div class="xod5an3 x1dc814f xh8yej3">
                        <form action="/authorization" method="post">
                            <div class="x78zum5 xqui205 xdt5ytf">
                                <div class="x1m39q7l xzueoph x540dpk">
                                    <div class="x19gtwsn x1nk0tez x1xp9za0 x1hm1hlx x1npaq5j x1c83p5e x1enjb0b x199158v x13fuv20 xu3j5b3 x1q0q8m5 x26u7qi x178xt8z">
                                        <label class="_aa48">
                                            <input autofocus id="username"
                                                   aria-required="true"
                                                   autocapitalize="off"
                                                   name="username"
                                                   maxlength="75"
                                                   placeholder="Имя пользователя"
                                                   required type="text"
                                                   class="_aa4b _add6 _ac4d _ap35">
                                        </label>
                                    </div>
                                </div>
                                <div class="x1m39q7l xzueoph x540dpk">
                                    <div class="x19gtwsn x1nk0tez x1xp9za0 x1hm1hlx x1npaq5j x1c83p5e x1enjb0b x199158v x13fuv20 xu3j5b3 x1q0q8m5 x26u7qi x178xt8z">
                                        <label class="_aa48">
                                            <input aria-required="true"
                                                   autocapitalize="off"
                                                   autocorrect="off"
                                                   class="_aa4b _add6 _ac4d _ap35"
                                                   required type="password"
                                                   name="password"
                                                   placeholder="Пароль">
                                        </label>
                                    </div>
                                </div>
                                <div class="x78zum5 x1xmf6yo x1e56ztr x540dpk x1m39q7l xdt5ytf">
                                    <button class=" _acan _acap _acas _aj1- _ap30"
                                            type="submit">
                                        <div>Войти</div>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="_ab21">
                    <span dir="auto"
                          style="----base-line-clamp-line-height: 18px; --lineHeight: 18px;">
                        <p class="_ab25">У вас ещё нет аккаунта?
                            <a href="/registration" role="link" tabindex="0">
                            <span class="_ap3a _aaco _aacw _aad0 _aad7"
                                  dir="auto">Зарегистрироваться
                            </span>
                            </a>
                        </p>
                    </span>
                </div>
            </div>
        </article>
    </main>
</section>
<link type="text/css" rel="stylesheet"
      th:href="@{/css/styles.css}"
      data-bootloader-hash="jSeRUEM" data-async-css="1" crossorigin="anonymous"
      data-p=":7,54" data-btmanifest="1019961719_main" data-c="1">
</body>
</html>
